/* Stili base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(90vh - 80px);
    padding: 40px 0;
    background-image: url("../images/sfondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.user-area {
    display: flex;
    min-height: 80vh;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #121212;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
}

footer {
    background-color: #121212;
    color: gray;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.logo img {
    height: 90px;
    width: auto;
}

/* Barra di ricerca */
.search-bar {
    position: relative;
    width: 100%;
    max-width: 700px;
}

.search-bar i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #999;
    font-size: 1em;
}

.search-bar input {
    width: 100%;
    padding: 8px 12px 8px 36px; /* padding sinistro per l'icona */
    border: 5px solid #ccc;
    border-radius: 20px;
    border-color: gold;
    font-size: 1em;
}

/* Contenitore principale delle icone */
.header-botton {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* Contenitore singola icona + label */
.botton-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

/* Label sotto le icone */
.botton-label {
    font-size: 0.8em;
    margin-top: 4px;
    color: #555;
}

/* Icone generiche */
.header-botton i {
    color: darkred;
    font-size: 2.5em;
    transition: color 0.3s ease;
}

/* Hover su tutte le icone */
.header-botton i:hover {
    color: gold;
}

/* Login */
.login-container {
    background-color: #121212;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login-container h2 {
    margin-bottom: 20px;
    color: white;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #aa0000;
}

.register-message {
    margin-top: 15px;
    font-size: 0.9em;
    color: #555;
}

.register-message a {
    color: darkred;
    text-decoration: none;
}

.register-message a:hover {
    text-decoration: underline;
}

/* Registrazione */

.register-container {
    background-color: #121212;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.register-container h2 {
    margin-bottom: 20px;
    color: #cccccc;
    text-align: center;
}

.register-container h1 {
    font-size: 2.2em;
    font-weight: 700;
    color: gold;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: darkred;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.register-container label {
    color: #cccccc;
    margin-bottom: 0px;
    text-align: left;
}

.register-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.register-container button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #aa0000;
}

.register-success-dialog {
    background-color: #121212;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.register-success-dialog h1 {
    color: gold;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: darkred;
}

.register-success-dialog p {
    color: white;
}

.register-success-dialog a {
    color: darkred;
    text-decoration: none;
}

.register-success-dialog a:hover {
    text-decoration-line: underline;
}

/* Menu laterale Area Utente */
.user-menu {
    width: 220px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

.user-menu h2 {
    color: gold;
    font-size: 2em;
    margin-bottom: 20px;
}

.user-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-menu li {
    margin-bottom: 2px;
}

.user-menu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

.user-menu li a:hover {
    color: gold;
    background-color: darkred;
    text-decoration: none;
    font-weight: bold;
}

.user-menu a {
    color: white;
    text-decoration-line: none;
}

/* Contenuto del menu */
.content {
    flex: 1;
    padding: 40px;
    background-color: #f9f9f9;
}

.content h3 {
    color: #d84315;
    margin-bottom: 20px;
}

.content button {
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: darkred;
    transition: background 0.3s ease;
}

.content button:hover {
    background-color: gold;
}

.content input {
    width: 25%;
    padding: 10px;
    margin: 8px 0;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
/* Dati personali */

.dati-personali {
    display: none;
}

.dati-statici p{
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
}
.form-box {
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 5px;
}

.form-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Metodi di pagamento */

#overlayForm {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index: 1;
}

#overlayForm input:not(#scadenza) {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    font-size: 16px;
}

#scadenza {
    width: 80px;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Stile generale tabella */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Intestazioni */
thead th {
    background-color: gold;
    color: black;
    text-align: left;
    padding: 12px 15px;
    font-size: 1rem;
    border-bottom: 2px solid darkred;
}

/* Celle del corpo */
tbody td {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    font-size: 0.95rem;
    color: #333;
}

/* Riga hover */
tbody tr:hover {
    background-color: #f1f9f1;
    cursor: default;
}

/* Stato attivo/disattivo */
.status-attivo {
    color: green;
    font-weight: bold;
}

.status-disattivo {
    color: #c62828;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .search-bar {
        width: 100%;
        margin: 10px 0;
    }

    .header-botton {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .botton-item {
        flex: 0 1 30%;
        text-align: center;
        margin-bottom: 10px;
    }

    .login-container,
    .register-container {
        width: 95%;
        padding: 20px;
    }

    .register-container h1 {
        font-size: 1.8em;
    }
}
