/* Stili base */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

.info { /* barra info */
    background-color: black;
    color: white;
    border: black;
    padding: 10px;
    width: 1501px;
    font-family: Arial, sans-serif;
    word-spacing: 20px;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(90vh - 80px);
    padding: 40px 0;
    background-image: url("../images/sfondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.user-area {
    display: flex;
    min-height: 80vh;
    font-family: sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    background-color: #121212;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    position: relative;
}

footer {
    background-color: #121212;
    color: gray;
    padding: 20px 0;
    text-align: center;
    font-size: 0.9em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

.logo img {
    height: 90px;
    width: auto;
}

/* Navbar */
.main-navbar {
    background-color: darkred;
    padding: 10px 0;
    text-align: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nav-links li a:hover {
    color: gold;
}

/* Menu a tendina utente */
.dropdown-container {
    position: relative;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #121212;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
    border-radius: 5px;
    border: 1px solid darkred;
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.non clickable:hover {
    background-color: #121212 !important;
}

.dropdown-item:hover {
    background-color: gold;
    color: black;
}

.non-clickable {
    padding: 12px 16px;
    display: block;
    text-align: left;
    font-weight: bold;
    cursor: default;
    background-color: #121212;
    color: goldenrod;
}

/* Barra di ricerca */
.search-bar {
    position: relative;
    width: 100%;
    max-width: 700px;
}

.search-bar i {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #999;
    font-size: 1em;
}

.search-bar input {
    width: 100%;
    padding: 8px 12px 8px 36px; /* padding sinistro per l'icona */
    border: 5px solid #ccc;
    border-radius: 20px;
    border-color: gold;
    font-size: 1em;
}

.search-results-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    max-height: 250px;
    overflow-y: auto;
    display: none; /* nascosto di default */
    z-index: 1000;
}
.search-results-dropdown div {
    padding: 8px;
    cursor: pointer;
}
.search-results-dropdown div:hover {
    background-color: #f0f0f0;
}

#searchResults a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* Contenitore principale delle icone */
.header-botton {
    display: flex;
    gap: 16px;
    align-items: center;
}

/* Contenitore singola icona + label */
.botton-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

/* Label sotto le icone */
.botton-label {
    font-size: 0.8em;
    margin-top: 4px;
    color: #555;
}

/* Icone generiche */
.header-botton i {
    color: darkred;
    font-size: 2.5em;
    transition: color 0.3s ease;
}

/* Hover su tutte le icone */
.header-botton i:hover {
    color: gold;
}

/* Counter carrello */
.cart-button {
    position: relative;
}

.cart-link {
    position: relative;
    display: inline-block;
}

.cart-count {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: goldenrod;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 3px;
    border-radius: 50%;
    z-index: 10;
    min-width: 10px;
    text-align: center;
    line-height: 1;
    pointer-events: none; /* per non interferire con click */
}

/* Login */
.login-container {
    background-color: #121212;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.login-container h2 {
    margin-bottom: 20px;
    color: white;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #aa0000;
}

.register-message {
    margin-top: 15px;
    font-size: 0.9em;
    color: #555;
}

.register-message a {
    color: darkred;
    text-decoration: none;
}

.register-message a:hover {
    text-decoration: underline;
}

/* Registrazione */

.register-container {
    background-color: #121212;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.register-container h2 {
    margin-bottom: 20px;
    color: #cccccc;
    text-align: center;
}

.register-container h1 {
    font-size: 2.2em;
    font-weight: 700;
    color: gold;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: darkred;
    margin-bottom: 20px;
    letter-spacing: 1px;
    text-align: center;
}

.register-container label {
    color: #cccccc;
    margin-bottom: 0px;
    text-align: left;
}

.register-container input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.register-container button {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #aa0000;
}

.register-success-dialog {
    background-color: #121212;
    padding: 40px 30px;
    border-radius: 10px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.register-success-dialog h1 {
    color: gold;
    text-decoration-line: underline;
    text-decoration-thickness: 5px;
    text-decoration-color: darkred;
}

.register-success-dialog p {
    color: white;
}

.register-success-dialog a {
    color: darkred;
    text-decoration: none;
}

.register-success-dialog a:hover {
    text-decoration-line: underline;
}

/* Menu laterale Area Utente */
.user-menu {
    width: 220px;
    background-color: #333;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.2);
}

.user-menu h2 {
    color: gold;
    font-size: 2em;
    margin-bottom: 20px;
}

.user-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.user-menu li {
    margin-bottom: 2px;
}

.user-menu li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}

.user-menu li a:hover {
    color: gold;
    background-color: darkred;
    text-decoration: none;
    font-weight: bold;
}

.user-menu a {
    color: white;
    text-decoration-line: none;
}

/* Contenuto del menu */
.content {
    flex: 1;
    padding: 40px;
    background-color: #f9f9f9;
}

.content h3 {
    color: #d84315;
    margin-bottom: 20px;
}

.content button {
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: darkred;
    transition: background 0.3s ease;
}

.content button:hover {
    background-color: gold;
}


.content input {
    width: 25%;
    padding: 10px;
    margin: 8px 0;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

#filter {
    width: 50%;
    padding: 10px;
    margin: 8px 0;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}
/* Dati personali */

.dati-personali {
    display: none;
}

.dati-statici p{
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
}
.form-box {
    background: white;
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    border-radius: 5px;
}

.form-box label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Overlay */
body.modal-open {
    overflow: hidden;
}

#overlayForm,
#aggiungiForm,
#modificaForm {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#overlayForm .close, #aggiungiForm .close, #modificaForm .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 24px;
    color: #888;
    cursor: pointer;
}

#formContainer,
#formContainerModify {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
    margin: 40px auto;
    position: relative;
}

#formContainer .input,
#formContainerModify .input {
    width: 60%;
    padding: 10px;
    margin: 8px 0;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

/* Scadenza metodo di pagamento */
#overlayForm input:not(#scadenza) {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    font-size: 16px;
}

#scadenza {
    width: 80px;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Stile generale tabella */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-family: Arial, sans-serif;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
}

/* Intestazioni */
thead th {
    background-color: gold;
    color: black;
    text-align: left;
    padding: 12px 15px;
    font-size: 1rem;
    border-bottom: 2px solid darkred;
}

/* Celle del corpo */
tbody td {
    padding: 8px 12px;
    border-bottom: 1px solid #ddd;
    font-size: 0.95rem;
    color: #333;
}

/* Riga hover */
tbody tr:hover {
    background-color: #f1f9f1;
    cursor: default;
}

/* Stato attivo/disattivo */
.status-attivo {
    color: green;
    font-weight: bold;
}

.status-disattivo {
    color: #c62828;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .search-bar {
        width: 100%;
        margin: 10px 0;
    }

    .header-botton {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .botton-item {
        flex: 0 1 30%;
        text-align: center;
        margin-bottom: 10px;
    }

    .login-container,
    .register-container {
        width: 95%;
        padding: 20px;
    }

    .register-container h1 {
        font-size: 1.8em;
    }
}

/* Anteprima prodotto */
.product-card {
    position: relative;
}

.product-card img {
    width: 100%;
    height: 200px; /* o altezza desiderata */
    object-fit: cover; /* adatta l’immagine centrata, ritagliandola se necessario */
}

.img-prodotto {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

/* Slider */
.slider-container {
    position: relative;
    border-radius: 10px; /* Per arrotondare anche l'immagine */
    overflow: hidden;    /* Nasconde le parti dell'immagine che escono dal bordo arrotondato */
}

.slider-container .tns-controls {
    display: flex;
    position: absolute;
    top: 50%; /* Centraggio verticale */
    left: 0;
    width: 100%;
    transform: translateY(-50%); /* Correzione per un centraggio perfetto */
    justify-content: space-between; /* Spinge i bottoni ai lati opposti */
    padding: 0 10px; /* Aggiunge un po' di spazio dai bordi */
    box-sizing: border-box;
    z-index: 2;
    pointer-events: none; /* Impedisce al contenitore di bloccare il mouse */
}


/* Stile per i singoli bottoni */
.slider-container .tns-controls button {
    pointer-events: auto; /* Riabilita il click solo sui bottoni */
    background: rgba(0, 0, 0, 0.4);
    color: white;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.slider-container .tns-controls button:hover {
    display: flex;
    background: rgba(0, 0, 0, 0.7);
}

/* Nasconde i bottoni se c'è una sola immagine */
.slider-container .tns-nav-disabled {
    display: none;
}


/* Dettaglio prodotto */
.prodotto-dettaglio {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    padding: 40px;
    background-color: goldenrod;
    min-height: 80vh;
}

.prodotto-container {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden;
    max-width: 1000px;
    width: 100%;
}

.immagine-prodotto {
    flex: 1 1 300px;
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.immagine-prodotto img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.dettagli-prodotto {
    flex: 1 1 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.dettagli-prodotto h1 {
    color: darkred;
    font-size: 2.2em;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.dettagli-prodotto p {
    font-size: 1.1em;
    color: #333;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.dettagli-prodotto p strong {
    color: gold;
}

.dettagli-prodotto form {
    margin-top: 15px;
}

.dettagli-prodotto button {
    background-color: darkred;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-right: 10px;
}

.dettagli-prodotto button:hover {
    background-color: gold;
    color: black;
}

/* Shop */
.content-shop input {
    width: 80%;
    padding: 10px;
    margin: 8px 0;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.content-shop select {
    width: 42%;
    padding: 10px;
    margin: 8px;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.content-shop textarea {
    width: auto;
    padding: 50px;
    margin: 8px;
    border: 4px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.content-shop button {
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: darkred;
    transition: background 0.3s ease;
}

.content-shop button:hover {
    background-color: gold;
}

.img-box {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

.image-preview img {
    object-fit: cover;
}

/* Stile per la lista della wishlist */
.wishlist-list {
    list-style-type: none;
    padding: 0;
}

.wishlist-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.wishlist-item-details {
    display: flex;
    align-items: center;
}

.wishlist-item-img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 15px;
}

.wishlist-item-info {
    max-width: 200px;
}

.wishlist-item-info strong {
    font-size: 16px;
    font-weight: bold;
}

.wishlist-item-info p {
    margin: 5px 0;
    color: #666;
}

/* Stile per i pulsanti */
.wishlist-actions form {
    margin-left: 10px;
}

.wishlist-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 8px;
}

.wishlist-btn:hover {
    background-color: #218838;
}

.remove-btn {
    background-color: #dc3545;
}

.remove-btn:hover {
    background-color: #c82333;
}

.wishlist-btn i,
.remove-btn i {
    font-size: 16px;
}

.product-card button {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 0.9em;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background-color: darkred;
    color: white;
}

.product-card button:hover {
    background-color: #a30000;
}
/* Responsive */
@media (max-width: 900px) {
    .prodotto-container {
        flex-direction: column;
        align-items: center;
    }

    .immagine-prodotto, .dettagli-prodotto {
        flex: 1 1 100%;
        padding: 20px;
    }

    .dettagli-prodotto h1 {
        font-size: 1.8em;
        text-align: center;
    }
}

/* Responsive Footer */

@media (max-width: 600px) {
    .site-footer {
        font-size: 14px;
        padding: 15px 10px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
}